KOVAN_RPC_URL='https://kovan.infura.io/v3/1234567890'
RINKEBY_RPC_URL='https://rinkeby.infura.io/v3/1234567890'
POLYGON_MAINNET_RPC_URL='https://rpc-mainnet.maticvigil.com'
PRIVATE_KEY='abcdefg'
ALCHEMY_MAINNET_RPC_URL="https://eth-mainnet.alchemyapi.io/v2/your-api-key"
REPORT_GAS=true
COINMARKETCAP_API_KEY="YOUR_KEY"
AUTO_FUND=true
VRF_SUBSCRIPTION_ID=YOUR_SUBSCRIPTION_ID


## SANITY CMS

SANITY_CMS_TOKEN="GET-TOKEN"
SANITY_CMS_PROJECT_ID="GET-PROJECT-ID"
SANITY_CMS_DATASET="production"
SANITY_CMS_API_VERSION="v1"
SANITY_CMS_USE_CDN=false

